body {
   
   
   

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    
}

button {
    margin: 7px;
    padding: 3px;

}

.text-display {
    font-size: medium;
    font-family: Helvetica, Arial, sans-serif;
    margin: 10px;
    padding: 10px; 
    justify-content: center;
    align-items: center;
}